body{

font-family: 'Lato', sans-serif;

}
img{
	max-width: 250px;
}
.tamano-x{
	max-width: 200px;
}
.quitale-float{
	float: none;
}
.espacio-arriba{
	margin-top: 30px;
}
.pacifico{
	font-family: 'Pacifico', cursive;
}
.grande{
	font-size: 4em;
}
.pequeño{
	font-size: 2em;
}
.pequeño1{
	font-size: 20px;
}
.verde{
	color: #B8E3B7; 
}
.azul{
	color: #487CC5;
}
.btn{
	padding: 10px; /*espacio alrededor texto*/
	background-color: #B4E4AA; /*color botón*/
	color: #000000; /*color texto*/
	border: 5px solid color#35494E;
	text-decoration: none; /*decoración texto*/ /*capitalización texto*/
	border-radius: 5px; /*bordes redondos*/
	transition: 0.3s;
}
.btn:hover{
	transform: scale(1.2);
	color: #ffffff ;
}
.espacio-derecha{
	margin-right: 1em;
}
.no-lista{
	margin: 0px;
	padding: 0px;	
}
.no-lista li{
	list-style-type: none;
}
.se-gris{
	background-color: #eee;
}
.padding-largo{
	padding: 5px 10px;
}
.inline-block{
	float: none;
	display: inline-block;
	margin-right: -4px;
}
a, .rojo{
	color: #098900;
}
.enviar-arriba{
	vertical-align: top;
}